/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Press Start 2P', cursive; */

body {
}

div {
    width: auto;
}

#gamediv {
    width: 960px;
    height: 640px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#titletext {
    position: relative;
    top: 10%;

    /* Pulled from https://codepen.io/kemch/pen/Ewdpz */
    /* No work was done to edit this */
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 8em;
    white-space: nowrap;
    font-size: 140px;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    -moz-transform: skew(0, -6.7deg);
    -ms-transform: skew(0, -6.7deg);
    -webkit-transform: skew(0, -6.7deg);
    transform: skew(0, -6.7deg);
    -moz-transition-property: font-size;
    -o-transition-property: font-size;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    zoom: .7;
}

    #buttonContainer {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, 0%);
        font-size: xx-large;
        color: white;
    }

    .difficultyButtons {
        background-color: white;
        color: black;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        margin: 0px 20px;
        width: 100px;
        font-weight: bold;
        font-size: medium;
    }

    .difficultyButtons:hover {
        box-shadow: yellow 0px 0px 8px;
    }

    .active {
        background-color: rgb(57, 224, 79);
    }

    #startButton {
        background-color: white;
        position: absolute;
        bottom: 100px;
        right: 50%;
        transform: translate(50%, 0%);
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
    }

    #startButton:hover {
        background-color: rgb(57, 224, 79);
    }


#backgroundimg {
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 640px;
}

#question {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 960px;
    padding: 10px;
    z-index: -1;
    height: 220px;
}

    #questiontext {
        font-size: 36px; 
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        padding: 10px;
    }

#answers {
    position: absolute;
    bottom: 0;
    left: 0px;
}

    .answer {
        background: rgba(255, 255, 255, 0.644); 
        height: 80px;
        border: white 2px solid;
        border-radius: 0px 15px 15px 0px;
        padding-left: 15px;
        width: 400px;
        position: relative;
    }

    .answer:hover {
        background: rgba(187, 189, 90, 0.808); 
    }

    .answertext {
        /* display: inline-block; */
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0%, -50%);
    }

    .monsterimage {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        left: 790px;
        animation-name: answersmoving;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        z-index: 2;
    }
    
    @keyframes answersmoving {
        from {left: 0px;}
        to {left: 780px;}
    }


#score {
    background-color: white;
    position: absolute;
    top: 220px;
    padding: 5px 15px;
    right: 0px;
}

    #scorevalue {
        display: inline-block;
    }

#hero {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 20px;
}

    #heroImage {
        -webkit-transform: scaleX(-1) scale(2);
        transform: scaleX(-1) scale(2);
    }

    #herohptext {
        background-color: white;
        width: 60px;
        position: absolute;
        right: 20px;
        z-index: 4;
        padding-left: 5px;
    }

    #herohpremaining {
        background-color: green;
    }


#roundEndDiv{
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 400px;
    height: 250px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    z-index: 3;
}

    #roundEndButton {
        position: absolute;
        bottom: 20px;
        right: 50%;
        transform: translate(50%, 0%);
        padding: 20px;
        border-radius: 5px;
        /* border: 1px black solid; */
        width: 200px;
    }
    #roundEndButton:hover {
        background-color: rgb(57, 224, 79);
    }

.hidden {
    display: none;
}